:root{
    --Branco-Primcipal: #FFFFFF;
    --Cinza-Secundario: #c0c0c0;
    --Botão-Azul: #167bf7;
    --cor-de-fundo: #000000;
}
body{
    background-color: var(--cor-de-fundo);
    color: var(--Branco-Primcipal);
}

* {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
}

.principal {
    background-image: url("Background.png");
    background-repeat: no-repeat;
    background-size: contain;
}